body{
    background-color:  rgb(240, 190, 198);
}
.container{
    background-color: white;
    width: 60%;
    margin-left: 20%;
}
.container img {
    width: 90%;
    margin-left: 5%;
}
.container h1{
    margin-left: 5%;
}
.container p{
    margin-left: 5%;
    width: 90%;
}
.container h4{
    margin-top: 30px;
    margin-left: 8%;
    color: rgb(235, 92, 116);
    font-weight: bolder;
}
.container ul{
    margin-left: 6%;
}
.ingredients h3, .instructions h3, .Nutrition h3{
    margin-top: 30px;
     color: rgb(221, 46, 75);
     margin-left: 5%;
     font-weight: bolder;
}
.ingredients ul{
    margin-left: 3%;
}
.instructions ol{
    margin-left: 5%;
}
.ingredients li, .container li{
    padding-left: 20px;
}
.instructions li{
    padding-left: 8px;
    width: 90%;
}
.Nutrition table{
    margin-left: 5%;
    justify-content:center;
}
.Nutrition th{
    padding-left: 50px;
    text-align: center;
    font-weight: lighter;
}
.Nutrition td{
    padding-left: 170px;

}
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }
